* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
    font-family: "Young Serif";
    src: url(assets/fonts/young-serif/YoungSerif-Regular.ttf);
    font-weight: 400;
}

@font-face {
    font-family: "Outfit";
    src: url(assets/fonts/outfit/Outfit-VariableFont_wght.ttf);
    font-weight: 400, 600, 700;
}

body {
    font-family: "Outfit", sans-serif;
    background-color: hsl(30, 54%, 90%);
    color: #000;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

main {
    display: flex;
    flex-direction: column;
    width: 60%;
    margin: 100px 0px;
    background-color: white;
    padding: 45px;
    border-radius: 20px;
    gap: 20px;
}

h1 {
    font-family: "Young Serif", sans-serif;
    font-size: 32px;
    font-weight: lighter;
    color: hsl(14, 45%, 36%);
}

p, li {
    font-size: 18px;
    color: hsl(30, 10%, 34%);
}

li::marker {
    color: hsl(14, 45%, 36%);
    font-weight: bold;
}

span {
    font-weight: 700;
}

img {
    width: 100%;
    border-radius: 15px;
    margin-bottom: 10px;
}

/* MainSection */
.mainSection {
    display: flex;
    flex-direction: column;
    gap: 18px;
}

.mainTitle {
    font-size: 40px;
    letter-spacing: 1px;
    font-weight: lighter;
    color: black;
}

/* PreparationTime */
.preparationTimeSection {
    background-color: hsl(330, 100%, 98%);
    padding: 26px;
    margin: 20px 0;
    border-radius: 15px;
}

.preparationTimeSection li::marker {
    color: hsl(332, 51%, 32%);
}

.preparationTimeTitle {
    color: hsl(332, 51%, 32%);
}

.itemslist {
    display: flex;
    flex-direction: column;
    gap: 18px;
    margin: 25px;

}
.item {
    padding-left: 20px;
}

/* Nutrition */
.tableNutrition {
    display: flex;
    flex-direction: column;
}

.subhead {
    padding: 15px 0;
}
.tableRow {
    width: 50%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.tableTitle {
    padding: 15px 30px;
}

.boldSubhead {
    display: flex;
    width: 40px;
    text-align: center;
    color: hsl(332, 51%, 32%);
}

.attribution { 
    font-size: 11px; 
    text-align: center; 
    margin-top: 10px;
}

.attribution a { 
    color: hsl(228, 45%, 44%); 
}

@media (max-width: 375px) {
    main {
        width: 100%;
        padding: 30px;
    }
}
